<div class="main_01">
  <div class="main_title">
    <div class="text-4xl font-bold">
      <span>前台点餐</span>
    </div>
    <div><i nz-icon nzType="appstore" nzTheme="outline" class="text-4xl"></i></div>
  </div>
</div>

<div class="main_02">
  <div class="main_body">
    <mat-tab-group class="c1">
      <mat-tab label="西餐">
        <div class="main_nav">
          <div *ngFor="let item of xC">
            <app-dishes [item]="item" (click)="openDialog(item)"></app-dishes>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="中餐">
        <div class="main_nav">
          <div *ngFor="let item of zC">
            <app-dishes [item]="item" (click)="openDialog(item)"></app-dishes>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="小吃">
        <div class="main_nav">
          <div *ngFor="let item of xiaoC">
            <app-dishes [item]="item" (click)="openDialog(item)"></app-dishes>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="奶茶">
        <div class="main_nav">
          <div *ngFor="let item of yP">
            <app-dishes [item]="item" (click)="openDialog(item)"></app-dishes>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="main_footer">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>请输入要查找菜品的菜品编号进行搜索</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
      />
      <!--下面是对value值的格式化-->
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<!--<ol>-->
<!--  <li>-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--      <mat-label>What's your name?</mat-label>-->
<!--      <input  [(ngModel)]="name">-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--  </li>-->
<!--  <li>-->
<!--    <button  (click)="openDialog()">Pick one</button>-->
<!--  </li>-->
<!--  <li *ngIf="animal">-->
<!--    You chose: <i>{{animal}}</i>-->
<!--  </li>-->
<!--</ol>-->
