<div class="note-body">
  <div class="note-body-left">
    <div class="note-body-left-top">
      <img src="#" class="note-body-left-top_img my-[5px]" />
      <div class="note-body-left-top2">
        <!--        这里面获取到菜型、id、name-->
        <span>{{ this.data.type }}</span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>￥{{ this.data.price }}</span>
        <br />
        <span>{{ this.data.foodName }}({{this.data.volume}})</span>
      </div>
      <div class="note-body-left-top3">
        <button (click)="onCounter2()">-</button>
        <input style="width: 20px" [(ngModel)]="counter" />
        <button (click)="onCounter1()">+</button>
      </div>
    </div>

    <div class="note-body-left-bottom text-lg p-4">
      <h3>菜品简介</h3>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ this.data.introduce }}</span>
    </div>

<!--    <div mat-dialog-actions>-->
      <button
        class="w-full h-16 bg-[#fe5f55] text-[#f0f8ff] text-2xl text-center leading-16"
        mat-button
        [mat-dialog-close]="onClick()"
        cdkFocusInitial
      >
        确认
      </button>
<!--    </div>-->
  </div>

  <div class="note-body-right">
    <app-button-toggle [date]="this.data"></app-button-toggle>
  </div>
</div>
