<div class="floor02-nav" *ngIf="user">
  <div class="nav-one">
    <nz-avatar
      style="background-color: #87d068"
      nzText="LJX"
      [nzSize]="100"
    ></nz-avatar>
    <span class="my-2">{{user.name}}</span>
    <span>{{user.phone}}</span>
  </div>
  <div class="nav-two">
    <!--    <span>{{today|date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
    <span style="font-size: 20px">{{ DataTime }}</span>
    <span style="font-size: 15px">{{ DataTime2 }}</span>
  </div>
  <div class="nav-three">
    <ul>
      <li><a routerLink="/shopping">前台点餐</a></li>
      <li><a routerLink="/pending">挂单记录</a></li>
      <li><a routerLink="/ordering">订单流水</a></li>
      <li><a (click)="exit()">退出登陆</a></li>
    </ul>
  </div>
  <div class="nav-four">今日总流水：￥{{sum}}</div>
</div>

<!--<div class="floor02-body">-->
<!--  <div class="floor02-left">-->
<!--    <div class="floor02-left-top">-->
<!--      <app-main></app-main>-->
<!--    </div>-->
<!--    <div class="floor02-left-bottom"></div>-->
<!--  </div>-->
<!--  <app-shopping-cart></app-shopping-cart>-->
<!--</div>-->
