<div class="w-full h-full">
  <nz-carousel
    #Carousel
    [nzDotPosition]="'right'"
    [nzEnableSwipe]="true"
    [nzAutoPlay]="false"
    (wheel)="wheel($event)"
    (pan)="onpan($event)"
  >
    <div nz-carousel-content>
      <app-home-page></app-home-page>
    </div>
    <div nz-carousel-content>
      <app-foods-list></app-foods-list>
    </div>
    <div nz-carousel-content>
      <app-chefs-banner></app-chefs-banner>
    </div>
    <div nz-carousel-content>
      <app-about-us></app-about-us>
    </div>
  </nz-carousel>
</div>
