.floor02-body {
  width: calc(100% - 250px);
  /*min-width: calc(100% - 250px);*/
  max-width: 1540px;
  height: 880px;
  display: flex;

  /*这里为什么要写上下排列呢？*/
  /*因为这个div里有个索引，然后就是索引的组件，如果左右排列的话组件就获取不到这个div的宽度了*/
  flex-direction: column;
}
