<!--这里是订单流水界面-->
<div class="floor04-form">
  <div class="floor04-foot">
    <p>合计入账：</p>
    <!--    这里要添加一个对表格当前数据&#45;&#45;收款金额的总额度-->
  </div>

  <div class="floor04-center">
    <!--    这里是流水详情的表格-->
    <!--    <app-table-water></app-table-water>-->
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th nzCustomFilter>
            Name
            <nz-filter-trigger
              [(nzVisible)]="visible"
              [nzActive]="searchValue.length > 0"
              [nzDropdownMenu]="menu"
            >
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="searchValue"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>

  <div class="floor04-head">
    <p>今日流水:</p>
    <!--    这里写一个日期选择组件-->
    <div style="max-height: 100px">
      <nz-range-picker
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
  </div>
</div>
