<!--这里是订单流水界面-->
<div class="floor04-form">
  <div class="floor04-center">
    <!--    这里是流水详情的表格-->
    <!--    <app-table-water></app-table-water>-->
    <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th nzCustomFilter>
            ID
            <nz-filter-trigger
              [(nzVisible)]="visible"
              [nzActive]="searchValue.length > 0"
              [nzDropdownMenu]="menu"
            >
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>客房/堂食</th>
          <th>房间/桌号</th>
          <th>手机号</th>
          <th>下单时间</th>
          <th>订单状态</th>
          <th>订单金额</th>
          <th>支付时间</th>
          <th>支付金额</th>
          <th>查看菜品</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.position }}</td>
          <td>{{ data.desk_code }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.createtime }}</td>
          <td>{{ data.state }}</td>
          <td>{{ data.Charge_amount }}</td>
          <td>{{ data.endtime }}</td>
          <td>{{ data.payment_amount }}</td>
          <td>
            <button nz-button nzType="primary" (click)="showModal(data.foods)">
              <span>查看详情</span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input
            type="text"
            nz-input
            placeholder="Search name"
            [(ngModel)]="searchValue"
          />
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button"
          >
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>

  <div class="">
    <!--    这里写一个日期选择组件-->
    <div style="max-height: 100px">
      <nz-range-picker
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
  </div>
</div>

<!-------------------------------------------弹窗--------------------------------------------->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>点单详情</ng-template>

  <ng-template #modalContent>
    <div *ngFor="let item of foodData" class="border">
      <div>
        <span>{{ item.type }}</span>
      </div>
      <div>
        <span>{{ item.foodName }}</span>
      </div>
      <div>
        <span>{{ "￥" + item.price }}</span>
      </div>
      <div>
        <span>{{ item.number }}</span>
      </div>
      <div>
        <span>{{ item.volume }}</span>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleCancel()">ok</button>
  </ng-template>
</nz-modal>
