<div class="flex-col">
  <nz-space nzDirection="vertical" class="w-full">
    <!--上传菜品图片的组件-->
    <nz-card *nzSpaceItem nzTitle="图片" class="w-full rounded-2xl">
      <div class="clearfix">
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 8"
          [nzPreview]="handlePreview"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" alt="" />
          </ng-template>
        </nz-modal>
      </div>
    </nz-card>

    <nz-card *nzSpaceItem nzTitle="基础信息" class="w-full rounded-2xl">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired nzFor="name"
            >Name</nz-form-label
          >
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your name">
            <input
              type="text"
              nz-input
              formControlName="name"
              placeholder="Please input your name"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="4"
            nzFor="nickname"
            [nzRequired]="validateForm.get('required')?.value"
          >
            Nickname
          </nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your nickname">
            <input
              type="text"
              nz-input
              formControlName="nickname"
              placeholder="Please input your nickname"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <label
              nz-checkbox
              formControlName="required"
              (ngModelChange)="requiredChange($event)"
            >
              Nickname is required
            </label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <button nz-button nzType="primary">Check</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

    <nz-card *nzSpaceItem nzTitle="规格与价格" class="w-full rounded-2xl">
      <button nz-button (click)="addRow()" nzType="primary">Add</button>
      <br />
      <br />
      <nz-table #editRowTable nzBordered [nzData]="listOfData">
        <thead>
          <tr>
            <th nzWidth="30%">Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === data.id"
                (click)="startEdit(data.id)"
              >
                {{ data.name }}
              </div>
              <input
                [hidden]="editId !== data.id"
                type="text"
                nz-input
                [(ngModel)]="data.name"
                (blur)="stopEdit()"
              />
            </td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="deleteRow(data.id)"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-space>
</div>
