<div class="goods">
  <div class="section">
    <div class="title_w_filters">
      <h4>
        <span class="fw-500">菜单菜品</span>
        <span class="fs-rem-0875">
          ID: <span class="fw-500">{{ goods.id }}</span>
        </span>
      </h4>
      <span>
        <button
          class="btn btn-xs btn-danger"
          (click)="onsave($event)"
          [disabled]="saving.save"
        >
          保存
        </button>
      </span>
      <!--            <span class="fs-rem-0875">ID: <span class="fw-500">900</span></span>-->
    </div>
    <!--    <div class="flex-row-space mt-rem-05" *ngIf="saving.save">-->
    <!--      <span>{{ saving.text }}</span>-->
    <!--      <div class="bg-white progress progress-xs flex-grow-1 mlr-rem-05">-->
    <!--        <div class="progress-bar bg-info" [ngStyle]="{ width: saving.progress + '%' }"></div>-->
    <!--      </div>-->
    <!--      <fa-icon [icon]="icons.faSpinner" [pulse]="true"></fa-icon>-->
    <!--    </div>-->
  </div>

  <div class="section">
    <div class="title_w_filters mb-rem-1">
      <h4><span class="fw-500">菜品名称</span> 以及分类、描述</h4>
    </div>

    <div class="goods-tab flex-column">
      <div class="goods-form-field">
        <label class="goods-label">菜品名称</label>
        <div class="goods-input flex-grow-1 flex-column">
          <textarea
            class="goods-input-border"
            [rows]="2"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="goods.name"
          ></textarea>
          <!--          <input type="text" class="goods-input-border" id="name" [(ngModel)]="goods.name">-->
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">商品描述</label>
        <div class="goods-input flex-grow-1 flex-column">
          <textarea
            class="goods-input-border"
            [rows]="2"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="goods.desc"
          ></textarea>
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">品类</label>
        <div class="goods-input flex-grow-1 flex-column">
          <select
            class="goods-input-border sing"
            id="type"
            [(ngModel)]="goods.type"
            (change)="onchange($event)"
          >
            <option *ngFor="let type of goodsType">{{ type }}</option>
          </select>
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>
    </div>
  </div>

  <div class="section" [ngClass]="{ 'goods-inactive': !goods.active }">
    <div class="title_w_filters mb-rem-1">
      <h4 class="flex-row"><span class="fw-500">销售设定</span></h4>
    </div>

    <div class="goods-tab flex-column">
      <div class="goods-form-field as-row">
        <label class="goods-label">销售情况</label>
        <div class="goods-input flex-row flex-grow-1">
          <div class="flex-row margin-child-row">
            <lib-toggle-button
              tText="可售"
              fText="不可售"
              [(ngModel)]="goods.active"
              [disabled]="scope === 'hotel' && !goods.id"
            ></lib-toggle-button>
            <lib-toggle-button
              tText="活动商品"
              fText="非活动商品"
              [(ngModel)]="goods.activity"
            ></lib-toggle-button>
          </div>
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">上架时间</label>
        <div class="goods-input flex-grow-1 flex-column">
          <lib-calendar2
            class="goods-input-border"
            [monthNum]="2"
            mode="range"
            [time]="true"
            [autoApply]="true"
            buttonsSet="usage"
            [time]="true"
            [format]="1"
            [(ngModel)]="showTimes"
            (ngModelChange)="oncalendar($event, 'show')"
          ></lib-calendar2>
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">销售时间</label>
        <div class="goods-input flex-grow-1 flex-column">
          <lib-calendar2
            class="goods-input-border"
            [monthNum]="2"
            mode="range"
            [time]="true"
            [autoApply]="true"
            buttonsSet="usage"
            [time]="true"
            [format]="1"
            [(ngModel)]="saleTimes"
            (ngModelChange)="oncalendar($event, 'sale')"
          ></lib-calendar2>
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">商品限购</label>
        <div class="goods-input flex-grow-1 flex-column">
          <lib-input-number
            class="goods-input-border"
            [precision]="0"
            [(ngModel)]="goods.limit"
          ></lib-input-number>
          <!--          <input class="goods-input-border" type="number" [(ngModel)]="goods.limit">-->
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">每日限购</label>
        <div class="goods-input flex-grow-1 flex-column">
          <lib-input-number
            class="goods-input-border"
            [precision]="0"
            [(ngModel)]="goods.dayLimit"
          ></lib-input-number>
          <!--          <input class="goods-input-border" type="number" [(ngModel)]="goods.limit">-->
          <!--          <span class="goods-input-help"></span>-->
        </div>
      </div>

      <div class="goods-form-field">
        <label class="goods-label">过期设置</label>
        <div class="goods-input flex-row flex-grow-1 mt-rem-05">
          <lib-checkbox-slider
            class="mr-rem-1"
            [(ngModel)]="expiredDay"
            [labels]="['日期', '天数']"
          ></lib-checkbox-slider>
          <lib-input-number
            class="goods-input-border flex-grow-1"
            [precision]="0"
            *ngIf="expiredDay"
            [(ngModel)]="goods.expiredDay"
            (blur)="onexpire($event)"
          ></lib-input-number>
          <lib-calendar2
            class="goods-input-border flex-grow-1"
            *ngIf="!expiredDay"
            [monthNum]="1"
            mode="single"
            [time]="true"
            [format]="1"
            buttonsSet="none"
            [autoApply]="true"
            (ngModelChange)="onexpire($event)"
            [(ngModel)]="goods.expiredAt"
          ></lib-calendar2>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="title_w_filters mb-rem-1">
      <h4><span class="fw-500">价格</span></h4>
      <button class="btn btn-xs btn-default" (click)="onprice($event)">
        新增价格
      </button>
      <!--    <div>商品展示</div>-->
    </div>

    <table class="goods-prices">
      <tr>
        <th>价格名</th>
        <th>可售数量</th>
        <th>销售价格</th>
        <th class="hide-mobile">标准价格</th>
        <th class="more text-right">更多</th>
      </tr>
      <tr *ngFor="let p of goods.prices; index as i">
        <td><input type="text" [(ngModel)]="p.name" /></td>
        <td>
          <lib-input-number
            [precision]="0"
            [(ngModel)]="p.last"
          ></lib-input-number>
        </td>
        <td>
          <lib-input-number
            [precision]="goods.payType === 'money' ? 2 : 0"
            [prefix]="goods.payType === 'money' ? '¥' : ''"
            [suffix]="goods.payType === 'money' ? '' : '积分'"
            [(ngModel)]="p.price"
          ></lib-input-number>
        </td>
        <td class="hide-mobile">
          <lib-input-number
            [precision]="goods.payType === 'money' ? 2 : 0"
            [prefix]="goods.payType === 'money' ? '¥' : ''"
            [suffix]="goods.payType === 'money' ? '' : '积分'"
            [(ngModel)]="p.price_original"
          ></lib-input-number>
        </td>
        <td class="flex-row-reverse flex-space-between">
          <a class="ml-rem-1" (click)="onprice($event, i)">
            <fa-icon class="color-a" [icon]="icons.faEye"></fa-icon>
          </a>
          <div class="hide-mobile flex-row">
            <span class="flex-row" *ngIf="p.moq > 0">
              <fa-icon class="color-info" [icon]="icons.faBox"></fa-icon>
              {{ p.moq }}
            </span>
            <span class="flex-row" *ngIf="p.sale > 0">
              <fa-icon class="color-info" [icon]="icons.faPiggyBank"></fa-icon>
              {{ p.sale }}
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="section">
    <lib-images-wrap1
      title="主图"
      type="主图"
      [imageHeight]="107"
      [(ngModel)]="goods.mainImages"
      #mainWrap
    ></lib-images-wrap1>
  </div>
</div>

<div class="goods-preview scroll-v-hidden" *ngIf="screenView === 'PC'">
  <ng-template [ngTemplateOutlet]="preview"></ng-template>
</div>

<ng-template #preview>
  <lib-goods-mall1 [goods]="goods"></lib-goods-mall1>
</ng-template>
