@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "./scss/application";

html {
  color: white;
  body {
    color: white;
  }
  .ant-layout-header,
  .ant-alert {
    color: white;
  }
}

/*对轮播内容的排列进行格式化，以此才能正确编写页面内容*/
.format{
  //h-[calc(100vh-3rem)] w-full flex-row flex-align-start;
  //padding: 4rem;
  //height:calc(100vh - 3rem);
  display: flex !important;
  align-items: start !important;
  flex-wrap: wrap !important;
  align-content: flex-start !important;
}


.header {
  /*layout导航栏的高度*/
  .ant-layout-header {
    height: 3rem;
    line-height: 3rem;
    background-color: #1b1b1b;
  }
}

.layout-class {
  /*侧边栏背景色*/
  .ant-layout-sider-children {
    background-color: #1a1b1c;
    /*侧边栏标签背景色*/
    ul,
    li {
      background-color: #1a1b1c;
      div,
      ul {
        background-color: #1a1b1c;
      }
    }
  }
}
