<div class="format h-[calc(100vh-3rem)]">
  <div
    class="flex w-full justify-center py-4 2xl:py-4 xl:py-16 xl:mx-20 xl:justify-start"
  >
    <div class="flex flex-col items-center xl:items-start">
      <span class="xl:text-[1.6rem] animate__rollIn hover:animate__pulse"
        >菜品</span
      >
      <span class="text-xs xl:text-[1rem] text-[#656565]">PRODUCTS</span>
    </div>
  </div>

  <div class="w-full h-full flex flex-wrap content-start justify-center">
    <!--一个菜品-->
    <div
      class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4 transform xl:motion-safe:hover:scale-110"
      (click)="openDialog()"
    >
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>
    <!------------------------------------>
    <div class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4">
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>

    <div class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4">
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>

    <div class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4">
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>

    <div class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4">
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>

    <div class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4">
      <a class="block relative h-35 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="https://dummyimage.com/420x260"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          类别
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> 菜名 </span>
          <p class="lg:mt-1">$16.00</p>
        </div>
      </div>
    </div>
  </div>

  <span
    class="absolute bottom-0 w-full h-12 text-center leading-[3rem] text-[#C5C5C5] bg-[#262626]"
    routerLink="/foods"
    >MORE</span
  >
</div>

