<div class="format h-[calc(100vh-3rem)]">
  <div
    class="flex w-full justify-center py-4 2xl:py-4 xl:py-16 xl:mx-20 xl:justify-start"
  >
    <div class="flex flex-col items-center xl:items-start">
      <span class="xl:text-[1.6rem] animate__rollIn hover:animate__pulse"
        >菜品</span
      >
      <span class="text-xs xl:text-[1rem] text-[#656565]">PRODUCTS</span>
    </div>
  </div>

  <div
    class="w-full h-full flex flex-wrap content-start justify-center"
    *ngIf="foodData"
  >
    <!--一个菜品-->
    <div
      class="w-[48%] mx-[1%] lg:w-1/4 md:w-1/2 xl:m-4 transform xl:motion-safe:hover:scale-110"
      (click)="showModal(row)"
      *ngFor="let row of foodData"
    >
      <a class="block relative h-32 md:h-44 lg:h-64 rounded overflow-hidden">
        <img
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="{{ row.food_Image }}"
        />
      </a>
      <div class="mt-1">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          {{ row.type }}
        </h3>
        <div class="flex justify-between">
          <span class="text-lg font-medium"> {{ row.foodName }}({{row.volume}})</span>
          <p class="lg:mt-1">￥{{ row.price }}.00</p>
        </div>
      </div>
    </div>
    <!------------------------------------>

    <span
      class="absolute bottom-0 w-full h-12 text-center leading-[3rem] text-[#C5C5C5] bg-[#262626]"
      routerLink="/foods"
      >MORE</span
    >
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <div class="flex flex-wrap -m-4">
      <div class="p-4">
        <div
          class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
        >
          <img
            class="lg:h-48 md:h-36 w-full object-cover object-center"
            src="{{ food.food_Image }}"
            alt="blog"
          />
          <div class="p-6">
            <h2
              class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
            >
              {{ food.type }}
            </h2>
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
              规格：{{food.volume}}&nbsp;&nbsp;&nbsp;&nbsp;售价：￥{{ food.price }}
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              {{ food.foodName }}
            </h1>

            <p class="leading-relaxed mb-3">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ food.introduce }}
            </p>
            <div class="flex items-center flex-wrap">
              <!--              <button-->
              <!--                class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"-->
              <!--              >-->
              <!--                Learn More-->
              <!--              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-modal>
