<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-amber-50">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="订单号">
    <th mat-header-cell *matHeaderCellDef>订单号</th>
    <td mat-cell *matCellDef="let element">{{ element.orderID }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="手机号">
    <th mat-header-cell *matHeaderCellDef>手机号</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="下单时间">
    <th mat-header-cell *matHeaderCellDef>下单时间</th>
    <td mat-cell *matCellDef="let element">{{ element.startAt }}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="总金额">
    <th mat-header-cell *matHeaderCellDef>总金额</th>
    <td mat-cell *matCellDef="let element">{{ element.pice }}</td>
  </ng-container>
  <ng-container matColumnDef="菜品查看">
    <th mat-header-cell *matHeaderCellDef>菜品查看</th>
    <td mat-cell *matCellDef="let element"><button>查看</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selection.toggle(row)"
  ></tr>
</table>
