<div class="bar flex-column" [ngClass]="{'static': status.static, 'expand': status.expand}">
  <span class="header color-white fw-700 fs-rem-1375 mt-rem-15 mb-rem-2">
    JKH HMS
  </span>

  <div class="menus flex-column-center mb-rem-15">
    <div class="menu" *ngFor="let m of menu">
      <a class="flex-row" (click)="onmenu(m)">
        <span class="icon flex-row-center" [ngClass]="{'active': m.active}">
          <fa-icon [icon]="m.icon"></fa-icon>
        </span>
        <span class="text flex-row-center" [ngClass]="{'active': m.active}">
          <span class="text-clip flex-grow-1">{{m.text}}</span>
          <span class="arrow flex-row-center">
            <fa-icon [ngClass]="{'expanded': m.expanded}" [icon]="faAngleLeft"
                     *ngIf="m.items && m.items.length > 0"></fa-icon>
          </span>
        </span>
      </a>
      <div class="subs flex-column" [ngStyle]="{'height': (m.expanded ? 29 : 0) * m.items.length + 'px'}"
           *ngIf="m.items && m.items.length > 0">
        <a class="sub d-none text-clip" *ngFor="let sub of m.items" [ngClass]="{'active': sub.active}"
           [routerLink]="[sub.link]" (click)="onmenu(m, sub)">
          {{sub.text}}
        </a>
      </div>
    </div>
  </div>

  <div class="labels flex-column">
    <span class="title text-clip mt-rem-125 mb-rem-05">{{label.title}}</span>
    <a class="label flex-row-center color-white mt-rem-05" *ngFor="let l of label.labels" (click)="goto(l.link)">
      <span class="point flex-shrink-0" [ngClass]="{'active': l.active}"></span>
      <span class="text flex-grow-1 text-clip">{{l.text}}</span>
    </a>
  </div>
</div>
