<!--<div class="table-operations">-->
<!--  <button nz-button (click)="sortByAge()">Sort age</button>-->
<!--  <button nz-button (click)="resetFilters()">Clear filters</button>-->
<!--  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>-->
<!--</div>-->
<nz-table #filterTable [nzData]="foodsList" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns; trackBy: trackByName"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.foodName }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.volume }}</td>
      <td>{{ data.number }}</td>
      <td>{{ data.food_Image }}</td>
      <td>{{ data.introduce }}</td>
      <td>
        <div class="w-full h-full flex-center">
          <button
            nz-button
            nzType="primary"
            class="flex items-center"
            (click)="open(data)"
          >
            <i nz-icon nzType="scissor" nzTheme="outline"></i>
            编辑此菜品
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<!--------------------------------信息修改抽屉弹窗--------------------------------------->
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="信息修改"
  [nzFooter]="footerTpl"
  [nzPlacement]="'left'"
  (nzOnClose)="close()"
  *ngIf="formData"
>
  <form nz-form [formGroup]="formData" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>ID</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              value="{{ formData.value.id }}"
              [disabled]="true"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>类型</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="选择菜品类型" formControlName="type">
              <nz-option
                [nzValue]="formData.value.type"
                [nzLabel]="formData.value.type"
                nzHide
              ></nz-option>
              <nz-option [nzValue]="'中餐'" [nzLabel]="'中餐'"></nz-option>
              <nz-option [nzValue]="'西餐'" [nzLabel]="'西餐'"></nz-option>
              <nz-option [nzValue]="'小吃'" [nzLabel]="'小吃'"></nz-option>
              <nz-option [nzValue]="'饮品'" [nzLabel]="'饮品'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>名称</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="请输入菜品名称"
              formControlName="foodName"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>价格</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              placeholder="请输入菜品价格"
              formControlName="price"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>规格</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="选择规格" formControlName="volume">
              <nz-option
                [nzValue]="formData.value.volume"
                [nzLabel]="formData.value.volume"
                nzHide
              ></nz-option>
              <nz-option [nzValue]="'小份'" [nzLabel]="'小份'"></nz-option>
              <nz-option [nzValue]="'大份'" [nzLabel]="'大份'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>数量</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="请输入数量" formControlName="number" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>图片</nz-form-label>
          <nz-form-control>
            <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
              <input
                type="text"
                nz-input
                placeholder="请输入菜品图片地址"
                formControlName="food_Image"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>介绍</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              placeholder="请输入菜品的相关介绍"
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"
              formControlName="introduce"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: left">
      <button
        nz-button
        nzType="default"
        nzDanger
        (click)="delete(formData.value.id)"
      >
        删除此菜品
      </button>
    </div>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        取消
      </button>
      <button nz-button nzType="primary" (click)="upDate(formData.value)">
        提交修改
      </button>
    </div>
  </ng-template>
</nz-drawer>
