.mat-form-field {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: normal;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 3px 3px 0 3px;
  background-color: white;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 3px;
}
:host ::ng-deep .mat-form-field-underline {
  position: static;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
}
